<ion-view view-title="Change Password">
  	<ion-content>
  		<div class="list common-list card blank-card">
		  	<label class="item item-input">
		    	<input type="password" placeholder="Enter Old Password" />
		  	</label>
		  	<label class="item item-input">
		    	<input type="password" placeholder="Enter New Password" />
		  	</label>
		  	<label class="item item-input">
		    	<input type="password" placeholder="Confirm New Password" />
		  	</label>
		  	<label class="item item-input">
		  		<input type="submit" value="Done"/>
		  	</label>
		</div>
  	</ion-content>
</ion-view>
