<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  	<div class="text-center login-block">
  		<form ng-submit="doLogin()">
	      <div class="list">
	        <label class="item item-input">
	          <input type="text" placeholder="First Name"/>
	        </label>
	        <label class="item item-input">
	          <input type="text" placeholder="Last Name"/>
	        </label>
	        <label class="item item-input">
	          <input type="email" placeholder="Email Id"/>
	        </label>
	        <label class="item item-input">
	          <input type="tel" placeholder="Contact Number"/>
	        </label>
	        <label>
	        	<ion-checkbox>I agree terms and conditions</ion-checkbox>
	        </label>
	        <label class="item">
	          <button class="button button-block button-positive" type="submit">Sign Up</button>
	        </label>
	      </div>
	    </form>
  	</div>    
  </ion-content>
</ion-modal-view>
